<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="id">
        <h1>{{msg}}</h1>
        <h1>v-text:</h1>
        <div v-text='msg'></div>
        <h1>v-model:</h1>
        <h5 v-model='msg'></h1>
        <input type="text" v-model='msg'>
    </div>
    <script src="./dep.js" ></script>
    <script src="./watcher.js" ></script>
    <script src="./complier.js" ></script>
    <script src="./observer.js" ></script>
    <script src="./vue.js" ></script>
    <script>
        let vm=new Vue({
            el:'#id',
            data:{
                msg:'dadasdasdsdas',
                person:{
                    name:'ceshi',
                    age:'20'
                }
            }
        })
        console.log(vm.msg)
    </script>
</body>
</html>